:root {
    --primary-color: #F5F5F5;
    --secondary-color: #FFD700;
    --background-color: #002147;
    --text-color: #ffffff;
    --font: "Open Sans", sans-serif;
  }
  

html {
  scroll-behavior: smooth; 
}

body{
  background-color: var(--primary-color);
  width: 100%;
  margin: 0 auto;
  font-family: var(--font);
}

/* Section Transition Effect */
section {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
  opacity: 1; 
  transform: translateY(0); 
}
  
  /* HEADER */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 15px 10px;
    color: var(--text-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.hamburger {
    font-size: 2.5rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: .5rem;
}

.nav-links li a:hover {
    text-decoration: underline;
}  
  .toggleDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggleDisplay button {
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    transition: ease-out 0.3s;
  }
  
  .toggleDisplay button:hover {
    color: var(--secondary-color);
    cursor: pointer;
  }
  
  /* FOOTER */
  footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  footer .footer-info {
    padding: 0.5rem;
  }
  
  footer .footer-nav a {
    display: block;
    padding: 0.5rem;
    color: var(--text-color);
    transition: color ease 0.3s;
  }
  
  footer .footer-nav a:hover,
  footer .footer-social-media i:hover {
    color: var(--secondary-color);
  }
  
  .footer-social-media {
    display: flex;
  }
  
  .footer-social-media img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .footer-last-modified {
    padding: 0.5rem;
  }
  
