:root {
    --primary-color: #010101;
    --secondary-color: #960037;
    --background-color: #000000;
    --text-color: #ffffff;
    --font: "Kanit", sans-serif;
}

main {
    position: relative;
}

body {
    font-family: var(--font);
    color: var(--text-color);
}

/* HEADER */
header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 0.5rem;
}

header h1 {
    font-size: 20px;
    margin: 0.5rem;
}

.head-container {
    padding: 1rem;
    align-items: center;
    display: flex;
}

.head-container img {
    width: 30px;
    object-fit: contain;
    height: 30px;
}

.hamburger {
    display: none;
}

nav {
    display: inline-block;
}

nav ul > li {
    list-style-type: none;
    display: inline;
}

nav ul > li > a {
    color: var(--text-color);
    text-decoration: none;
    margin: 1rem;
    transition: border ease 0.2s;
}

nav ul > li > a:hover {
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.toggleDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleDisplay button {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 20px;
    outline: none;
    border: none;
    transition: ease-out 0.3s;
}

.toggleDisplay button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

/* General Styles */
.directory {
    padding: 20px;
}

/* Card View Styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify;
    background-color: var(--primary-color);
}

.card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.card h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: var(--text-color);
}

.card p,
.card a {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: var(--text-color);
}

.card a {
    color: var(--secondary-color);
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* List View Styles */
.list-container {
    color: var(--primary-color);
}

.list, .listHeaderContainer {
    display: flex;
    margin:.5rem auto;
    width: 90%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.listHeaderContainer button{
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem;
}


.list h2, .list p, .list a {
    font-size: 16px;
    margin: 1rem;
    text-align: center;
    width: 15%;
}


/* FOOTER */
footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

footer .footer-info {
    padding: 1rem;
}

footer .footer-nav a {
    display: block;
    padding: 0.5rem;
    color: var(--text-color);
    transition: color ease 0.3s;
}

.nav-social {
    display: flex;
}

footer .footer-nav a:hover,
footer .footer-social-media i:hover {
    color: var(--secondary-color);
}

.footer-social-media {
    display: flex;
}

footer .footer-social-media i {
    font-size: 16px;
    margin: 0.1rem;
    color: var(--text-color);
    transition: color ease 0.3s;
}

.footer-last-modified {
    padding: 0.5rem;
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 16px;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--secondary-color);
    }

    nav ul li a {
        width: 100%;
        display: block;
    }
    /* Responsive adjustments */
    .listHeaderContainer button{
        width: 17%;
        font-size: 12px;
    }

    footer {
        font-size: 14px;
    }
}