@media only screen and (min-width: 64rem) {
  /* discover page large */
  .main-discover {
    width: 100%;
  }

  .main-discover h1 {
    margin: 1rem 10px;
  }

  .localSotrage h3 {
    margin: 1rem 10px;
  }
  .galleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .galleryContainer .galleryCard img{
    transition: all ease .3s;
  }
  .galleryContainer .galleryCard img:hover{
    box-shadow: 0 0 5px #918e8e;
    transform: scale(1.1);
    cursor: pointer;
  }
}
