/* General Styles for directory page */
.main-directory {
    width: 100%;
    font-size: 20px;
    color: var(--background-color);
}

/* Directory */
.directory {
    padding: 0; /* Removed unnecessary padding */
}

/* Card View Styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify;
    background-color: var(--primary-color);
}

.card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.card h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: var(--background-color);
}

.card p,
.card a,
.list a {
    font-size: 1em;
    color: var(--background-color);
}

.card a:hover,
.list a:hover {
    color: var(--secondary-color);
}

/* List View Styles */
.list-container {
    color: var(--primary-color);
}

.list,
.listHeaderContainer {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.listHeaderContainer button {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
}

.list h2,
.list p,
.list a {
    font-size: 16px;
    text-align: center;
    width: 16.67%;
}

/* Home Styling */
.main-home {
    padding: 0;
    width: 100%;
}

.main-home h1 {
    padding: 1rem;
    font-size: 25px;
    font-weight: 400;
    color: var(--background-color);
}

/* Hero Section */
.hero {
    display: flex;
    width: 98%;
    color: var(--background-color);
    height: 50vh;
    margin: 0 auto;
    background-color: var(--text-color);
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    width: auto;
}

.hero-img > img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.hero-content {
    padding: 0.5rem;
}

.hero-content p {
    font-size: 50px;
}

.hero-content p > span {
    font-size: 25px;
}

.hero-content a {
    color: var(--primary-color);
    background-color: var(--background-color);
    text-decoration: none;
    border: none;
    outline: none;
    text-align: center;
    padding: 1rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.hero-content a:hover {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Events Section */
.events {
    margin: .5rem 0; /* Added spacing between sections */
    color: var(--text-color);
    background-color: var(--background-color);
    width: 100%;
}

.events h2 {
    padding: 1rem .5rem;
    width: 95%;
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--text-color); /* Adjusted padding */
}

.events-wrapper{
    color: var(--text-color);
}
.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.wrapper {
    width: 85%;
    padding: 1rem;
    position: relative;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(58, 145, 15, 0.1);
    text-align: justify;
    margin: 0 auto;
}

.wrapper img {
    float: left;
    width: 150px;
    margin: 0.5rem;
}

.events-card {
    height: 280px;
}

.events-card a {
    text-decoration: none;
    width: auto;
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;
    padding: 0.5rem;
}


/* Spotlight Section */
.spotlight {
    margin-top: -20px;
    width: 100%;
    color: var(--background-color);
    background-color: var(--text-color);
}

.spotlight-container {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; /* Added spacing between spotlight cards */
    margin: 0 auto;
}
.spotlightWrapper{
    color: var(--text-color);
    background-color: var(--background-color);
}

.spotlightWrapper h2{
    padding: 1rem;
}

.spotlightCard {
    position: relative;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(58, 145, 15, 0.1);
    background-color: var(--background-color);
}

.spotlightCard img{
    float: left;
}
/* Weather Section */
.weather {
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.weather > h2{
    padding-left: 1rem;
}


/* Weather Container */
.weather-container {
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Forecast Section */
.forecast-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.forecast-card {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.forecast-card img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.forecast-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.forecast-card p {
    font-size: 1.2em;
    margin: 5px 0;
}