/* General Styles for directory page */
.main-directory {
  width: 100%;
  font-size: 20px;
  color: var(--background-color);
}

/* Directory */
.directory {
  padding: 0;
}

/* Card View Styles */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: justify;
  background-color: var(--primary-color);
}

.card img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.card h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: var(--background-color);
}

.card p,
.card a,
.list a {
  font-size: 1em;
  color: var(--background-color);
}

.card a:hover,
.list a:hover {
  color: var(--secondary-color);
}

/* List View Styles */
.list-container {
  color: var(--primary-color);
}

.list,
.listHeaderContainer {
  display: flex;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.listHeaderContainer button {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
}

.list h2,
.list p,
.list a {
  font-size: 16px;
  text-align: center;
  width: 16.67%;
}

/* Home Styling */
.main-home {
  padding: 0;
  width: 100%;
}

.main-home h1 {
  font-size: 25px;
  font-weight: 400;
  color: var(--background-color);
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  width: 100%;
  background-image: url("../images/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  border-radius: 10px 10px 0 0;
  color: var(--text-color);
  color: var(--background-color);
}

.hero-content {
  box-shadow: 0 2px 30px rgba(58, 145, 15, 0.1);
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  color: var(--background-color);
  font-size: 1.5rem;
}

.cta-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

/* Events Section */
.event {
  padding: 2rem;
}

.event h2 {
  color: var(--background-color);
}

.eventWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 2rem;
}

.eventCard {
  background-color: var(--primary-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 1rem;
}

.eventCard img {
  width: 80%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.eventCard h3 {
  font-size: 1.5rem;
  color: var(--background-color);
  margin: 1rem 0;
}

.eventCard p {
  font-size: 1rem;
  color: var(--background-color);
  margin: 0.5rem 0;
}

.eventCard a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

/* Spotlight Section */
.spotlight {
  width: auto;
  max-width: 1200px;
  background-color: var(--background-color);
  border-radius: 10px;
  margin: 2rem auto;
  box-shadow: 0 2px 30px rgba(125, 131, 195, 0.1);
}

.spotlight h2 {
  padding: 1rem;
}

.spotlight-container {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
}
.spotlightWrapper {
  color: var(--text-color);
  background-color: var(--background-color);
}

.spotlightCard {
  position: relative;
  margin: 0.5rem auto;
  padding: 0.5rem;
  text-align: left;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 2px 30px rgba(125, 131, 195, 0.1);
  background-color: var(--background-color);
}

.spotlightCard img {
  float: right;
}

/* General styling for the weather section */
section.weather {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--background-color);
}

.weather-container {
  display: grid;
  border-radius: 20px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.current-weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.current-weather h2,
.current-weather p,
.weatherCard {
  font-size: 16px;
}

.weatherCard {
  background-color: #ffffff;
  border-bottom: 1px solid var(--background-color);
  border-radius: 8px;
}

.weatherCard img {
  width: auto;
  height: auto;
}

.forecast-container {
  display: grid;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  color: var(--background-color);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
