/* For tablets (900px and below) */
@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: var(--primary-color);
    z-index: 1000;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger{
    padding: 0;
    margin: 0;
  }

  .hero {
    display: flex;
    width: 100%;
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 1.2rem;
  }

  .hero-content p {
    font-size: 17px;
  }

  .hero img {
    width: 300px;
  }

  .hero-content > span {
    font-size: 10px;
  }

  .hero-content a {
    font-size: 12px;
  }

  .listHeaderContainer button {
    width: 100%;
    font-size: 12px;
  }

  .list h2,
  .list p,
  .list a {
    font-size: 14px;
    margin: 0.5rem;
    text-align: left;
  }

  .event-container,
  .weather-container,
  .forecast-container {
    grid-template-columns: 1fr;
  }

  .spotlight-container {
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
  }

  .membership-types {
    flex: 1 1 calc(30% - 20px); /* Two items per row */
  }
  

  footer {
    font-size: 14px;
  }
}



@media (max-width: 480px) {
.membership-types {
  flex: 1 1 100%; /* One item per row */
}
}