:root{
    --primary-color: #243642;
    --secondary-color: #387478;
    --accent-color: #E2F1E7;
    --additional-accent-color: #629584;
    --font: "Open Sans", serif;
}

header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:var(--accent-color);
}
.header-content{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    align-items: center;
}
.header-content h1{
    font-size: 50px;
    color: var(--primary-color);
    font-family: var(--font);
    font-variant: small-caps;
}
.header-content img {
    background: transparent;
}
.hamburger{
    display: none;
}

nav{
    background-color: var(--primary-color);
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 1rem 0;
}
nav ul li a{
    opacity: .7;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
    font-family: var(--font);
    font-size: 1.5rem;
}

.active{
    opacity: 1;
    color: #fff;
}

nav ul li a:hover{
    opacity: 1;
    transition: 0.1s;
}

main{
    width: 95%;
    margin: 0 auto;
}
.hero-container{
    border-radius: 10px 10px 0px 0px;
    display: grid;
    grid-template-columns: 70% 28%;
    gap: 2%;
    grid-template-rows: auto;
}
.course-work, .country-city, .certifications{
    background-color: var(--accent-color);
    height: auto;
}
.course-work h2, .country-city h2, .certifications h2{
    border-radius: 10px 10px 0px 0px;
    margin: 0;
    background-color: var(--primary-color);
    font-size: 20px;
    font-family: var(--font);
    color: var(--accent-color);
    text-align: center;
    padding: 1rem;
}
.country-city img{
    width: 95%;
    height: 30vh;
    padding: 2.5% 2.5%;
}
.country-city p{
    text-align: center;
    font-family: var(--font);
    font-size: 1.2rem;
    padding: 1rem;
}

.certifications{
    height: auto;
}
.certifications hr{
    width: 90%;
    margin: auto;
}
.certifications .first-row{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    align-items: center;
    text-align: center;
}
.certifications .second-row, .third-row{
    display: grid;
    gap: 2%;
    width: 95%;
    margin: auto;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
}
.first-row p{
    font-weight: 700;
    text-align: center;
    width: 10%;
    background-color: var(--secondary-color);
    padding: 1rem 1rem;
    color: var(--accent-color);
    font-family: var(--font);
}
.second-row p, .third-row p{
    text-align: center;
    font-weight: 700;
    background-color: var(--additional-accent-color);
    padding: 1rem 1rem;
    font-family: var(--font);
}
.third-row p:nth-child(odd){
    color: #fff;
    background-color: black;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem 0;
}
footer p{
    padding: 1rem 0;
    margin: 0;
    font-family: var(--font);
    font-size: 1.25rem;
}

@media screen and (max-width:789px) {
    .header-content h1{
        font-size: 30px;
    }
    .header-content img{
        width: 50px;
        height: 50px;
    }
    .open{
        display: block;
    }
    .hamburger::before{
        content: "☰";
    }
    .hamburger.open::before{
          content: "❎";
    }
    .hamburger{
        text-align: right;
        display: block;
        font-size: 60px;
        cursor: pointer;
    }
    nav{
        display: none;
    }
    nav ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .hero-container{
       grid-template-columns: 1fr;
       grid-template-rows: auto auto;
       margin: 1rem 0 1rem 0;
    }
    .first-row p{
        width: 98%;
        margin: 2%;
    }
    .second-row, .third-row {
        grid-template-columns: 1fr;
        gap: .5rem;
    }
}